.accordion {
  display: block;
  margin: 5px 0;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  text-decoration: underline;
}

.accordion-content {
  transition: max-height 0.1s ease-in-out;
}

.accordion-content.closed {
  max-height: 0px;
  overflow: hidden;
}

.accordion-content.open {
  max-height: 20px;
}
